---
layout: base
---

<article class="{{ structure.g_pageWidth }}">

  <h1 class="{{ colors.headingsCustom or colors.headingsDefault }}">{{ seo.title or title }}</h1>
  <div class="text-sm {{ colors.authorCustom.date or colors.authorDefault.date}}">
    <time datetime="{{ date | dateToFormat("yyyy-MM-dd") }}">
      {{ date | dateToFormat("dd LLL yyyy") }}
    </time>
    {# Global disable author display in /src/_data/structure.js #}
    {% if structure.g_showAuthors %}
      {# Only display the Author Block if there is a value for "author" in Post Frontmatter #}
      {% if author %}
        {% set postAuthor = authors | getAuthor(author) %}
        by <a class="hover:underline" href="/authors/{{ author }}/">{{ postAuthor.name }}</a>
      {% endif %}
      {% if author2 %}
        {% set postAuthor2 = authors | getAuthor(author2) %}
        and <a class="hover:underline" href="/authors/{{ author2 }}/">{{ postAuthor2.name }}</a>
      {% endif %}
    {% endif %}

  </div>

  {{ layoutContent | safe }}

  {% if structure.g_showTagPills or structure.g_showSocialShareIcons %}
    <div class="pt-4 mt-12 border-t md:justify-between md:items-start md:flex md:flex-row">

      {# If you don't want to display the Tag Pills, set "false" in /src/_data/structure.js #}
      <div class="md:w-1/2">
        {% if structure.g_showTagPills %}
          {% include "components/tagpills.njk" %}
        {% endif %}
      </div>

      {# If you don't want to display Social Share icons, disable them in /src/_data/structure.js  #}
      <div class="px-2 pt-6 md:pt-2 md:w-1/2 md:flex md:justify-end">
        {% if structure.g_showSocialShareIcons %}
          {% include "components/socialshare.njk" %}
        {% endif %}
      </div>

    </div>
  {% endif %}


{# ===== DISQUS ===== #}
<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = "{{ meta.rootURL + post.url }}";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{ page.fileSlug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://https-sensingtheforest-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  {# ===== Previous and Next =====  #}
  <div class="border-t mt-4 pt-4 {{ colors.borderCustom.color or colors.borderDefault.color }} md:flex-row md:flex md:justify-between">
  {%- if tags == 'exhibition' -%}  
    {% set previousPost = collections.exhibition | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.exhibition | getNextCollectionItem(page) %}
  {%- else -%}
    {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.post | getNextCollectionItem(page) %}
  {%- endif -%}
    <div class="py-2 text-center sm:py-0">
      {% if previousPost %}
        <a class="{{ colors.prevNextCustom.text or colors.prevNextDefault.text }} hover:{{ colors.prevNextCustom.text or colors.prevNextDefault.textHover }}" href="{{ previousPost.url }}">← {{ previousPost.data.title }}</a>
      {%- endif -%}
    </div>

    <div class="py-2 text-center sm:py-0">
      {% if nextPost %}
        <a class="{{ colors.prevNextCustom.text or colors.prevNextDefault.text }} hover:{{ colors.prevNextCustom.text or colors.prevNextDefault.textHover }}" href="{{ nextPost.url }}">{{ nextPost.data.title }} →</a>
      {% endif %}
    </div>

  </div>


</article>
