<h3 class="px-8 md:px-16 lg:px-32">Partners</h3>    
<div id="logos">
  <div class="{{ colors.footerDefault.barBg or colors.footerCustom.barBg  }}" >
  <div class="max-w-screen-xl px-4 py-12 mx-auto sm:px-6 md:flex md:items-center md:justify-between md:max-h-screen lg:px-8">
      <a aria-label="Link to AHRC" alt="Link to AHRC" href="https://www.ukri.org/councils/ahrc/">
      {% svg "ahrc", "mt-1 mr-2 h-50 w-150 float-left" %}
      </a>
      <a aria-label="Link to QMUL" alt="Link to QMUL" href="https://www.qmul.ac.uk/">
      {% svg "qmul", "mt-1 mr-2 ml-2 h-50 w-150 float-left" %}
      </a>
      <a aria-label="Link to C4DM" alt="Link to C4DM" href="http://c4dm.eecs.qmul.ac.uk/">      
      {% svg "c4dm", "mt-1 mr-2 ml-2 h-50 w-150 float-left" %}
      </a>
    </div> 
  <div class="max-w-screen-xl px-4 py-12 mx-auto sm:px-6 md:flex md:items-center md:justify-between md:max-h-screen lg:px-8">
      <a aria-label="Link to DMU" alt="Link to DMU" href="https://www.dmu.ac.uk"> 
      {% svg "dmu", "mt-1 mr-2 ml-2 h-50 w-150 float-left" %}
      </a>
      <a aria-label="Link to MTI2" alt="Link to MTI2" href="https://www.dmu.ac.uk/research/research-faculties-and-institutes/technology/mtirc/index.aspx">       
      {% svg "mti2", "mt-1 mr-2 ml-2 h-50 w-150 float-left" %}
      </a>
      <a aria-label="Link to Forest Research" alt="Link to Forest Research" href="https://www.forestresearch.gov.uk/">       
      {% svg "forestresearch", "mt-1 mr-2 ml-2 h-50 w-150 text-blue-500 float-left" %}
      </a>
    </div>    
  <div class="max-w-screen-xl px-4 py-12 mx-auto sm:px-6 md:flex md:items-center md:justify-between md:max-h-screen lg:px-8">
      <a aria-label="Link to Forestry England" alt="Link to Forestry England" href="https://www.forestryengland.uk/">
      {% svg "forestryengland", "mt-1 mr-2 h-50 w-150 text-blue-500 float-left" %} 
      </a>     
    </div>            
  </div>
</div>
<h3 class="px-8 md:px-16 lg:px-32">Collaborators</h3> 
<div id="logos2">
  <div class="{{ colors.footerDefault.barBg or colors.footerCustom.barBg  }}" >
  <div class="max-w-screen-xl px-4 py-12 mx-auto sm:px-6 md:flex md:items-center md:justify-between md:max-h-screen lg:px-8">
      <a aria-label="Link to Freesound" alt="Link to Freesound" href="https://freesound.org/">
      {% svg "freesound", "mt-1 mr-2 h-50 w-150 float-left" %}
      </a>
       <a aria-label="Link to Locus Sonus Vitae" alt="Link to Locus Sonus Vitae" href="https://locusonus.org">
      {% svg "locussonusvitae", "mt-1 mr-2 h-50 w-150 float-left" %}
      </a>
      {% svg "white", "mt-1 mr-2 h-50 w-150 float-left" %}
    </div>  
  </div>
</div>
<footer>
  <div class="{{ colors.footerCustom.barBg or colors.footerDefault.barBg }}">
    <div class="max-w-screen-xl px-4 py-12 mx-auto sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
      <div class="flex justify-center md:order-2 {{ colors.socialIconsCustom or colors.socialIconsDefault }}">
        {% if structure.g_showFooterSocialIcons %}

          {# Display Social icons from _data/social.json  #}
          {% for site in social %}
            {% if site.url %}
              <a aria-label="Link to {{ site.platform }}" alt="Link to {{ site.platform }}" class="hover:{{ colors.socialIconsHoverCustom or colors.socialIconsHoverDefault }}" href="{{ site.url | url }}">
                {% svg site.platform, "mx-2 h-6 w-6 fill-current", site.platform, "footer" %}
              </a>
            {% endif %}
          {% endfor %}

        {% endif %}
      </div>
      <div class="mt-8 md:mt-0 md:order-1">
        <p class="text-left text-base leading-6 {{ colors.footerCustom.text or colors.footerDefault.text }}">
          &copy; {{ build.timestamp | dateToFormat('yyyy') }}, {{ meta.siteName }}
          <br />
          <em>Sensing the Forest</em> is funded by the UKRI Arts and Humanities Research Council (AHRC) (#AH/X011585/1).<br />
          This website is built on an <a href="https://www.11ty.dev">Eleventy project</a> created from the <a href="https://github.com/11ta/11ta-template/">11ta template</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5SRR8TK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->